################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/fmsum/.vs/fmsum/v16
/fmsum/Debug
/vs/model/.vs/model/v16
/vs/model/Debug
/fmsum
/measure
/model
/um
/.model.cpp.swp
/03-implementation.html
/vs/model/x64/Debug
