################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/fmsum/.vs/fmsum/v16
/fmsum/Debug
/vs/model/.vs/model/v16
/vs/model/Debug
/fmsum
/measure
/model
/um
/.model.cpp.swp
/03-implementation.html
/vs/model/x64/Debug
/src/um/.vs/um/v16
/src/um/x64/Debug
/epslion
/eop
/bootstrap
/sample
/test
/01-intro.pdf
/01-intro.html
*.new
/polyfin.html
/.polyfin.md.swp
*.bak
*.pdf
/src/test
