################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/fmsum/.vs/fmsum/v16
/fmsum/Debug
